.form{
    background: #EAF2FD;
    padding: .7rem;
}
.form__imagen{
    display: none;
}
.form__input{
    display: flex;
    flex-direction: column;
}
.info{
    border: 0;
    box-shadow: 0px 2px 0px 0px #c8c8c8;
    height: 3rem;
    margin-top: 1rem;
}
.email{
    border: 0;
    box-shadow: 0px 2px 0px 0px #2a7ae4;
    height: 3rem;
    margin-top: 1rem;
}
.textarea{
    display: flex;
    flex-direction: column;
}
.textarea__escribir{
    border: 0;
    box-shadow: 0px 2px 0px 0px #c8c8c8;
    height: 7rem;
    margin-top: 1rem;
}
.enviar{
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    border-width: 1px;
    color: white;
    height: 2.5rem;
    margin-top: 1rem;
    width: 7rem;
}
.footer{
padding: 0.7rem;
    text-align: center;
    height: 2rem;
}
.footer__titulo{
    margin: 0;
}
.footer__anio{
    margin: 5px;
}
.warnings{
    color: red;
    padding: 7px 0;
    width: 200px;  
}

@media screen and (min-width: 1280px){
    .form{
        padding: 0 7rem;
        display: flex;
        flex-wrap: wrap;
    }
    .form__contacto{
        margin: -40rem 19rem 0rem 30rem;
    }
    .form__img{
        margin: 3rem 0;
    }
    .form__imagen{
        display: flex;
    }
    .form__titulo{
        font-size: 30px;
        font-weight: bold;
    }
    .form__contactarme{
        font-size: 20px;
        width: 37rem;
    }
    .form__input{
        margin: -35rem 0rem -1rem 30rem;
        width: 100%;
    }
    .info, .email{
        height: 5rem;
    }
    .textarea{
        margin: -16rem 0rem 0rem 30rem;
        width: 100%;
    }
    .textarea__escribir{
        height: 8.3rem;
    }
}