.hobbies{
    padding: .7rem;
}
.hobbies__titulo{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}
.hobbies__iconos{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    justify-content: center;
}
.hobbies__img{
    background: white;
    padding: .1rem 2.8rem 1rem 0.2rem;
}
.hobbies__p{
    font-weight: bold;
    margin-left: 10px;
}
@media screen and (min-width: 1280px){
    .hobbies{
        padding: 1rem 7rem;
    }
}